.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 8px 12px;
  border-radius: 8px;
  border: none;

  font-size: 0.9rem;
  font-weight: 500;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

.btn--primary {
  background: #c379fb;
  color: white;
}

.btn--primary:hover {
  background: #985ec4;
}

.btn--info {
  background: #f3e8ff;
  color: #7c3aed;
}

.btn--info:hover {
  background: #e9d5ff;
}

.btn--warning {
  background: #fef3c7;
  color: #92400e;
}

.btn--warning:hover {
  background: #fde68a;
}

.btn--secondary {
  background: #e5e7eb;
  color: #374151;
}

.btn--secondary:hover {
  background: #d1d5db;
}

.btn--danger {
  background: #fee2e2;
  color: #b91c1c;
}

.btn--danger:hover {
  background: #fecaca;
}
