* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;

  background: linear-gradient(180deg, #faf7ff 0%, #ddc9f3 60%, #f9fafb 100%);

  min-height: 100vh;
}
